

<div class = "beer-links">
    <button><a href="/beers"> Check the Beers</button></a>
    <button><a href="/randomBeer"> Check your Random Beer</button></a>
   
    
    <img src="/images/beer.png" alt="Image not found">
</div>